<a href="https://colab.research.google.com/github/dedejfalmieda/ES/blob/main/REVIS%C3%83OPARAPROVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
if a == 10:
    print("Verdadeiro")
else:
    print("Falso")

In [ ]:
a = 10
b = 20
if a < b:
    print("Verdadeiro")
else:
    print("Falso")

In [ ]:
a = 10
b = 10
if a <= b:
    print("Verdadeiro")
else:
    print("Falso")

In [ ]:
a = 10
b = 20
if a > b:
    print("Verdadeiro")
else:
    print("Falso")

In [ ]:
a = 10
b = 10
if a >= b:
    print("Verdadeiro")
else:
    print("Falso")

In [ ]:
a = 6
if (a <= 10) and ((a % 2) == 0):
    print("O valor", a, "é menor ou igual a 10 e é um número par.")
else:
    print("O valor", a , "não é menor que 10 ou não é par")

In [ ]:
a = 12
if (a <= 10) or ((a % 2) == 0):
    print("O valor", a, "é menor ou igual a 10 ou é um número par.")
else:
    print("O valor", a , "não é menor que 10 ou não é par")

In [ ]:
a = 9
if a <= 10:
    if (a % 2) == 0:
        print("O valor", a, "é menor ou igual a 10 e é um número par.")
    else:
        print("O valor", a, "é menor ou igual a 10 e é um número ímpar.")
else:
    print("O valor", a , "é maior que 10")

In [ ]:
import random # necessário para utilizar o módulo random

random.seed(8)
print(random.random()) # resultado: 0.2267058593810488
print(random.random()) # resultado: 0.9622950358343828

random.seed(8)
print(random.random()) # resultado: 0.2267058593810488
print(random.random()) # resultado: 0.9622950358343828

random.seed()          # utilizou o horário do sistema como base

In [ ]:
lista_nomes = []

print(lista_nomes)
#Resultado: []

print(type(lista_nomes))
#resultado: <class 'list'>

In [ ]:
lista_numeros = [10, 20, 30, 40]

print(lista_numeros)
#resultado: [10, 20, 30, 40]

print(type(lista_numeros[0]))
#resultado:<class 'int'>

In [ ]:
lista_nomes = ['João', 20, 'Sueli', 25, 'Paulo', 'Maria']

print(lista_nomes)
#resultado: ['João', 20, 'Sueli', 25, 'Paulo', 'Maria']

print(type(lista_nomes[0]))
#resultado: <class 'str'>

print(type(lista_nomes[1]))

In [ ]:
ista_nomes = ['João', 20, 'Sueli', 25, 'Paulo', 'Maria']

print(len(lista_nomes))

In [ ]:
lista_string = list('Python')

print(lista_string)
#Resultado: ['P', 'y', 't', 'h', 'o', 'n']

print(type(lista_string))

In [ ]:
estudantes_notas = ['João', [8, 9, 10, 7], 'Sueli', [7, 9, 10, 8]]

print(estudantes_notas)
#Resultado: ['João', [8, 9, 10, 7], 'Sueli', [7, 9, 10, 8]]

print(type(estudantes_notas))
#Resultado: <class 'list'>

In [ ]:
lista_numeros = list(range(0,10))

print(lista_numeros)
#Resultado: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(type(lista_numeros))

In [ ]:
nome = "João Paulo da Silva"
print(nome.split())

In [ ]:
nomes = "João Paulo/Maria Paula/Ana Beatriz/José Pedro"
print(nomes.split('/'))

In [ ]:
Nome = "João Paulo Menezes da Silva"
print(nome.split(None, 2))


print(nome.split(" ", 2))

In [ ]:
numeros = "123x124x125x126"
print(numeros.split("x"))

In [ ]:
nomes = "Maria Cecília\nCláudia Rodrigues\nJoão Paulo"
print(nomes)

In [ ]:
dados = "Maria Cláudia;23;Desenvolvedora Web"
nome,idade,profissao = dados.split(";")
print(nome)
#resultado: Maria Cláudia

print(idade)

In [ ]:
arquivo = open("texto.txt", "r")
conteudo = arquivo.read()
print(conteudo)